ompiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.DS_Store
*.log
/target
.idea/workspace.xml
.gitignore.swp
.idea/misc.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/uiDesigner.xml
emptydemo.iml
emptydemo.iml
emptydemo.iml
emptydemo.iml
*.iml
.idea/.name
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/libraries/Maven__antlr_antlr_2_7_7.xml
.idea/libraries/Maven__com_aliyun_oss_aliyun_sdk_oss_2_8_2.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_5.xml
*.xml
*.xml
